
.inputText{
	padding:8px;
	border : 2px solid salmon;
	font-style: normal;
}
form{
	border-radius: 5px;
	background-color: white;
	padding: 20px;
	max-width: 500px;
	margin : 0px auto;
}
#body{
	background-image: url("office.jpg");
}
#button{
	background-color: green;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	display: inline-block;
	font-size: 20px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 5px;
	width : 200px;
}
#bodyId{
	background-color :  ;
	/*background-image : url("water.jpg");
	background-position : auto ;
	background-size : 1400px 600px;*/
	text-align : center;
}
h1{
	/*color : crimson;*/
	color : blue ;
	text-align : center;
}

.textField{
	/*color : darkturquoise ;*/
	color : darkblue ;
}
span{
	color : red;
	font-size : 20px;
}
input, b{
	font-size : 20px ;
}
.valuesHeader{
	background-color : powderblue ;
	color : red;
	width : 300px;
	font-size : 20px;
}
.valuesData{
	background-color: yellowgreen ;
	width : 300px;
}
.valuesTable{
	border-color : dodgerblue;
}
#h1{
	text-align : center ;
	color : darkblue;
}
